<table>
    <tr>
        <th colspan="2">UFPR - Aprovado para 2ª Fase</th>
    </tr>
    <tr>
        <td>Luiz Antonio Freitas Junior</td>
        <td>Medicina</td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="2">UNESP - Aprovados para 2ª Fase</th>
    </tr>
    <tr>
        <td>Ana Julia Machado Parente</td>
        <td>Medicina</td>
    </tr>
    <tr>
        <td>Ana Luiza Castro Bertone</td>
        <td>Administração</td>
    </tr>
    <tr>
        <td>Angelo Ansanello</td>
        <td>Engenharia Agronômica</td>
    </tr>
    <tr>
        <td>Augusto Calhares de Almeida Sanchez</td>
        <td>Medicina</td>
    </tr>
    <tr>
        <td>Beatriz Bonini Zancopé</td>
        <td>Treineiro - Medicina</td>
    </tr>
    <tr>
        <td>Beatriz da Silva Tavares</td>
        <td>Engenharia Química</td>
    </tr>
    <tr>
        <td>Beatriz Tiemi Ikuno</td>
        <td>Relações Internacionais</td>
    </tr>
    <tr>
        <td>Caian Oliveira Lima Crescioni Santos</td>
        <td>Psicologia</td>
    </tr>
    <tr>
        <td>Carolina dos Santos Ferreira</td>
        <td>Ciências Econômicas</td>
    </tr>
    <tr>
        <td>Cintia Ramires Scarparo</td>
        <td>Treineiro - Engenharia de Produção</td>
    </tr>
    <tr>
        <td>Carolina Brandão Cantu</td>
        <td>Treineiro</td>
    </tr>
    <tr>
        <td>Dorival Ansanello Neto</td>
        <td>Medicina Veterinária</td>
    </tr>
    <tr>
        <td>Fábio Henrique Sampaio Junior</td>
        <td>Engenharia Civil</td>
    </tr>
    <tr>
        <td>Guilherme Ansanello</td>
        <td>Administração Pública</td>
    </tr>
    <tr>
        <td>Henrique de Souza Severino</td>
        <td>Engenharia de Bioprocessos e Biotecnologia</td>
    </tr>
    <tr>
        <td>Henrique Scarparo Martins de Souza</td>
        <td>Educação Física</td>
    </tr>
    <tr>
        <td>Ilana Sganzerla Rosário</td>
        <td>Química</td>
    </tr>
    <tr>
        <td>Isabela Gomes Teixeira Primo</td>
        <td>Fisioterapia</td>
    </tr>
    <tr>
        <td>Isabella Barbosa Chaves</td>
        <td>Direito</td>
    </tr>
    <tr>
        <td>Isabella Simão Francischetti Corrêa</td>
        <td>Farmácia</td>
    </tr>
    <tr>
        <td>Jéssica Bortaliero Bernardes</td>
        <td>Ciências Biológicas</td>
    </tr>
    <tr>
        <td>João Guilherme Schepp dos Santos</td>
        <td>Educação Física</td>
    </tr>
    <tr>
        <td>João Marcos Leão Roldão</td>
        <td>Treineiro - Psicologia</td>
    </tr>
    <tr>
        <td>José Carlos Rocha Júnior</td>
        <td>Direito</td>
    </tr>
    <tr>
        <td>José Matheus da Silva Medeiros</td>
        <td>Treineiro</td>
    </tr>
    <tr>
        <td>Julia Meneses Mendes Ambrósio</td>
        <td>Engenharia de Bioprocessos e Biotecnologia</td>
    </tr>
    <tr>
        <td>Kaique Venuto Mancuzo</td>
        <td>Treineiro</td>
    </tr>
    <tr>
        <td>Karoliny Abib Chagas</td>
        <td>Fisioterapia</td>
    </tr>
    <tr>
        <td>Lara Ferrari de Castro</td>
        <td>Direito</td>
    </tr>
    <tr>
        <td>Larissa Alves Sanchez Bernardes</td>
        <td>Engenharia Mecânica</td>
    </tr>
    <tr>
        <td>Laura Mariano Teixeira</td>
        <td>Treineiro - Biológicas</td>
    </tr>
    <tr>
        <td>Laura Ramires Silva</td>
        <td>Treineiro</td>
    </tr>
    <tr>
        <td>Leonardo Tozato Sonsin</td>
        <td>Treineiro</td>
    </tr>
    <tr>
        <td>Luis Eduardo Scaramucci</td>
        <td>Treineiro</td>
    </tr>
    <tr>
        <td>Luiz Otávio Garavaso</td>
        <td>Engenharia Mecânica</td>
    </tr>
    <tr>
        <td>Luiz Antonio de Freitas Junior</td>
        <td>Engenharia Civil</td>
    </tr>
    <tr>
        <td>Luiz Gustavo Alves Giorgi</td>
        <td>Treineiro - Biológicas</td>
    </tr>
    <tr>
        <td>Maria Clara Garcia de Camargo</td>
        <td>Treineiro - Fisioterapia</td>
    </tr>
    <tr>
        <td>Maria Eduarda Soares Tofolli Moreira</td>
        <td>Odontologia</td>
    </tr>
    <tr>
        <td>Maria Laura de Souza Perão</td>
        <td>Psicologia</td>
    </tr>
    <tr>
        <td>Pamela da Silva Batista</td>
        <td>Pedagogia</td>
    </tr>
    <tr>
        <td>Paula Pavani Loeve</td>
        <td>Odontologia</td>
    </tr>
    <tr>
        <td>Paula Pereira Regerio dos Santos</td>
        <td>Medicina Veterinária</td>
    </tr>
    <tr>
        <td>Ricardo Carapello Moreira</td>
        <td>Medicina</td>
    </tr>
    <tr>
        <td>Thaís de Castro Tramontini</td>
        <td>Direito</td>
    </tr>
    <tr>
        <td>Vinicius de Souza Rodrigues dos Santos</td>
        <td>Agronomia</td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="2">UEL - Aprovados para 2ª Fase</th>
    </tr>
    <tr>
        <td>Carolina dos Santos Ferreira</td>
        <td>Ciências Econômicas</td>
    </tr>
    <tr>
        <td>Carolina Monteiro de Aguiar</td>
        <td>Direito</td>
    </tr>
    <tr>
        <td>Dorival Ansanello Neto</td>
        <td>Medicina Veterinária</td>
    </tr>
    <tr>
        <td>Guilherme Ansanello</td>
        <td>Administração</td>
    </tr>
    <tr>
        <td>Isabella Barbosa Chaves</td>
        <td>Direito</td>
    </tr>
    <tr>
        <td>Maria Laura dos Santos Camilo</td>
        <td>Enfermagem</td>
    </tr>
    <tr>
        <td>Ricardo Carapello Moreira</td>
        <td>Medicina</td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="2">PUC - CAMPINAS</th>
    </tr>
    <tr>
        <td>Thaís de Castro Tramontini</td>
        <td>Direito</td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="2">UNICESUMAR</th>
    </tr>
    <tr>
        <td>Ana Carolina Oliveira Ciardella</td>
        <td>Enfermagem</td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="2">ITE</th>
    </tr>
    <tr>
        <td>Pamela da Silva Batista</td>
        <td>Economia</td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="2">UNAERP</th>
    </tr>
    <tr>
        <td>Guilherme Ansanello</td>
        <td>Administração</td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="2">UNIMAR</th>
    </tr>
    <tr>
        <td>Abdul Latif Hamzé</td>
        <td>Biomedicina</td>
    </tr>
    <tr>
        <td>Carolina Gomes de Souza</td>
        <td>Odontologia</td>
    </tr>
    <tr>
        <td>Dorival Ansanello Neto</td>
        <td>Medicina Veterinária</td>
    </tr>
    <tr>
        <td>Isabella Simão Francischetti Corrêa</td>
        <td>Medicina</td>
    </tr>
    <tr>
        <td>Karoliny Abib Chagas - 4º Lugar</td>
        <td>Odontologia</td>
    </tr>
    <tr>
        <td>Maria Laura dos Santos Camilo</td>
        <td>Engenharia Cívil</td>
    </tr>
    <tr>
        <td>Mauricio Lopes da Silva Neto</td>
        <td>Medicina Veterinária</td>
    </tr>
    <tr>
        <td>Milena Cristina Bonadio Tardim</td>
        <td>Nutrição</td>
    </tr>
    <tr>
        <td>Pamela da Silva Batista</td>
        <td>Odontologia</td>
    </tr>
    <tr>
        <td>Vivian Caroline Sampaio</td>
        <td>Nutrição</td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="2">UNIVEM</th>
    </tr>
    <tr>
        <td>Guilherme Ferrari de Souza</td>
        <td>Direito</td>
    </tr>
    <tr>
        <td>Pamela da Silva Batista</td>
        <td>Direito</td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="2">USC</th>
    </tr>
    <tr>
        <td>Caroline Gomes de Souza</td>
        <td>Odontologia</td>
    </tr>
    <tr>
        <td>Giovanni Feliciano Coutinho</td>
        <td>Psicologia</td>
    </tr>
    <tr>
        <td>Isabela Gomes Teixeira Primo</td>
        <td>Fisioterapia</td>
    </tr>
    <tr>
        <td>Jéssica Bortaliero Bernardes</td>
        <td>Ciências Biológicas</td>
    </tr>
    <tr>
        <td>Maria Laura dos Santos Camilo</td>
        <td>Arquitetura</td>
    </tr>
    <tr>
        <td>Tainá Perão</td>
        <td>Nutrição</td>
    </tr>
    <tr>
        <td>Vivian Caroline Sampaio</td>
        <td>Nutrição</td>
    </tr>
</table>