<header class="header">
    <div class="container">
        <div class="top-bar">
            <ul>
                <li>
                    <svg width="15" height="20"><use xlink:href="#phone" /></svg>
                    (14) 3471-1000
                </li>
                <li>
                    <svg width="15" height="20"><use xlink:href="#user" /></svg>
                    <a href="/area-aluno">Área do Aluno</a>
                </li>
                <li>
                    <svg width="15" height="20"><use xlink:href="#open-book" /></svg>
                    <a href="http://www.sistemaanglo.com.br/" target="_blank">Portal Anglo</a>
                </li>
            </ul>
            {% include social.html %}
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="/" class="site-logo">
                    <img src="/img/logo.png">
                </a>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-8">
                <nav>
                    <ul>
                        <li>
                            <a href="/fotos">Fotos</a>
                        </li>
                        <li>
                            <a href="/sobre">Sobre</a>
                        </li>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                        <li>
                            <a href="/contato">Contato</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>