<div class="social">

    <a href="/index.html">
        <svg><use xlink:href="#home" /></svg>
    </a>
    
    <a href="https://www.instagram.com/colegio.lumen/?hl=pt-br" target="_blank">
        <svg><use xlink:href="#instagram" /></svg>
    </a>
   <a href="https://www.youtube.com/channel/UCYUrCfKIMNn6-rtGWlCftdQ" target="_blank">
        <svg><use xlink:href="#youtube" /></svg>
    </a>
    
    <a href="https://www.facebook.com/lumen.colegio/" target="_blank">
        <svg><use xlink:href="#facebook" /></svg>
    </a>
    
    
</div>