.concursof{
    
    position:absolute; 
    top:-260px; 
    left:370px;

        @media (max-width: 2560px){
            padding-top: 168px;  
     }
     
     @media (max-width: 1024px){
            padding-top: 110px;   
     }
     
      @media (max-width: 768px){
            padding-top: 95px;   
     }
     
       @media (max-width: 425px){
            padding-top: 65px;   
     }
}