.header{
    background: #0063b3;
    z-index: 9999;
     position: fixed;
     width: 100%;
     height: 148px;
     left: 0%;
        
    
        @media (max-width: 1024px){
        height: 129px;
        }
        
         @media (max-width: 768px){
        height: 103px;
        }
    
    @media (max-width: $xs){
        height: 65px;
    }
        
    nav{
        @media (max-width: $xs){
            display: none;
            
        }
        
        ul{
            display: flex;
            justify-content: space-between;
            list-style: none;
            margin: 0;
            padding: 0;
  
        }

        
        
        li{
            width: 25%;
        }
        
        a{
            color: #fff;
            display: block;
            font-size: 18px;
            font-weight: 400;
            height: 110px;
            line-height: 133px;
            text-align: center;
            text-transform: uppercase;
            


            @media (max-width: 1200px){
                line-height: 114px;
                height: 111px;
                
               }
                   

                 @media (max-width: 1024px){
                      line-height: 78px;
                         height: 70px;
                }



             @media (max-width: 768px){
                line-height: 59px;
                height: 54px;
                margin-left: 8px;
            }

            
           
               @media (max-width: $xs){
                height: 50px;
                line-height: 30px;
                font-size: 14px;
            }

            &:hover{
                background: #025293;
                text-decoration: none;


                
            }


        }
    }
    
    .site-logo{

        
             img{
                   

                  @media (max-width: 1200px){
                display: inline-block;
                text-align: left;
                width:189px;
                margin-top: 0px;
                              
                 }  



                 @media (max-width: 1024px){
                display: inline-block;
                text-align: left;
                width:170px;
                margin-top: 0px;
                              
                 }  


      
                 @media (max-width: 768px){
                display: inline-block;
                text-align: left;
                width:129px;
                margin-top: 0px;
                              
                 }  

                    @media (max-width: 767px){
                display: inline-block;
                text-align: left;
                width: 144px;
                margin-top: -39px;
                margin-left: 240px;
               
                 }
                 
                   @media (max-width: 661px){
                display: inline-block;
                text-align: left;
                width: 144px;
                margin-top: -39px;
                margin-left: 187px;
               
                 }
                 
                 
                 @media (max-width: 576px){
                display: inline-block;
                text-align: left;
                width: 144px;
                margin-top: -39px;
                margin-left: 140px;
               
                 }
                 
                   @media (max-width: 483px){
                display: inline-block;
                text-align: left;
                width: 144px;
                margin-top: -39px;
                margin-left: 100px;
               
                 }
                 
                  @media (max-width: 425px){
                display: inline-block;
                text-align: left;
                width: 144px;
                margin-top: -39px;
                margin-left: 78px;
               
                 }
                 
                 
                    @media (max-width: 375px){
                display: inline-block;
                text-align: left;
                width: 144px;
                margin-top: -39px;
                margin-left: 58px;
               
                 }
                 
                 
                 
                   @media (max-width: 320px){
                display: inline-block;
                text-align: left;
                width: 144px;
                margin-top: -39px;
                margin-left: 33px;
               
                 }
                 
                 
            
            }
    }
}



.top-bar{
    border-bottom: 1px solid #0b7ad4;
    color: #fff;
    display: flex;
    justify-content: space-between;
    
       


        @media (max-width: 1200px){
       margin-left: 69px;
       }



       @media (max-width: 1024px){
       margin-left: 20px;
       }


       
    @media (max-width: $xs){
        display: none;
        text-align: center;
        
        .social{
            display: none;
        }
    }
    
    ul{
        list-style: none;
        margin: 0;
        padding: 7px 0;
    }
    
    li{
        display: inline-block;
        font-size: 16px;
        margin-left: 30px;
        vertical-align: top;

         @media (max-width: 1200px){
        display: inline-block;
            font-size: 16px;
             margin-left: 78px;
        }
        
        @media (max-width: 1024px) {
           display: inline-block;
            font-size: 16px;
             margin-right: -4px;
            }
         
         
         @media (max-width: 992px) {
           display: inline-block;
            font-size: 16px;
             margin-right: -18px;
            }
        
       @media (max-width: 768px) {
           display: inline-block;
            font-size: 12px;
            margin-right: -19px;
           }
       
        @media (max-width: $xs){
            font-size: 11px;
            margin-left: 15px;
           }
        
        &:first-child{
            margin-left: 0;
        }
    }
    
    a{
        color: #fff;
        display: inline-block;
        vertical-align: top;
        
         @media (max-width: $md) {
             display: inline-block;
             margin-left: 1px;
         }
         
         @media (max-width: $xs) {
             margin-top: 50px;
             margin-left: 1px;
         }
        
    }
    
    svg{
        display: inline-block;
        fill: #fff;
        vertical-align: top;
        
         @media (max-width: $md) {
             display: inline-block;
             margin-left: -65px;
         }
          

          @media (max-width: 1200px) {
             display: inline-block;
             margin-left: -44px;
         }


       
             
          @media (max-width: 1024px) {
             display: inline-block;
             margin-left: -42px;
         }
        
           
           @media (max-width: 991px) {
             display: inline-block;
             margin-left: -44px;
         }

         
         @media (max-width: 768px) {
             display: inline-block;
             margin-left: -39px;
         }
      
        
        @media (max-width: $xs){
            display: none;
        
        
        }
        
    }

}


