.social{
    
    
    a:hover{
        text-decoration: none;
        
    }
    
    svg{
        
        
        background: #fff;
        fill: #0063b3;
        

        @media (max-width: 1200px) {
             display: inline-block;
             margin-left: 6px;
         }



         @media (max-width: 775x) {
             display: inline-block;
             margin-left: -8px;
             width: 28px;
         }
         
        
    @media (max-width: 768px) {
             display: inline-block;
             margin-left: -10px;
         }
         
          @media (max-width: 1024px) {
             display: inline-block;
             margin-left: 0px;
         }
        
        &:hover{
            fill: #025293;
            
        }
    }
}