<!DOCTYPE html>
<html lang="pt-br">
    <head>
        
        <title>
        {% if page.title == "home" %}
            {{ site.title }} &middot; {{ site.tagline }}
        {% else %}
            {{ page.title }} &middot; {{ site.title }}
        {% endif %}
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        
        <link href="/favicon.png?1" rel="icon" type="image/png">
        <link href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
    </head>
    
    <body>
        {% include icons.html %}
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
        
        <script src="/js/jquery-3.1.1.min.js"></script>
        <script src="/js/pwi.js"></script>
        <script src="/js/slick.js"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>
